<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>com.system.controller.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.system.controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCar</servlet-name>
        <servlet-class>com.system.controller.AddCar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCars</servlet-name>
        <servlet-class>com.system.controller.AddCars</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCar</servlet-name>
        <servlet-class>com.system.controller.DeleteCar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.system.controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPassword</servlet-name>
        <servlet-class>com.system.controller.ResetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStatus</servlet-name>
        <servlet-class>com.system.controller.UpdateStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Booking</servlet-name>
        <servlet-class>com.system.controller.Booking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookCar</servlet-name>
        <servlet-class>com.system.controller.BookCar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCar</servlet-name>
        <servlet-class>com.system.controller.UpdateCar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Discount</servlet-name>
        <servlet-class>com.system.controller.Discount</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCar</servlet-name>
        <url-pattern>/AddCar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCars</servlet-name>
        <url-pattern>/AddCars</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCar</servlet-name>
        <url-pattern>/DeleteCar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPassword</servlet-name>
        <url-pattern>/ResetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStatus</servlet-name>
        <url-pattern>/UpdateStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Booking</servlet-name>
        <url-pattern>/Booking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookCar</servlet-name>
        <url-pattern>/BookCar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCar</servlet-name>
        <url-pattern>/UpdateCar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Discount</servlet-name>
        <url-pattern>/Discount</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
